/* 
    Created on : Mar 17, 2017, 10:26:35 AM
    Author     : tuyenbv
*/
body {
    background: url(../img/bg-body.png);
    color: #000;
}
header{
    background: #fff;
}
form.search{
    margin-top: 10px;
    position: relative;
}
.search input{
    width: 100%;
}
.search button{
    position: absolute;
    right: 0px;
    bottom: 2px;
    border: 0;
    background: transparent;
    font-size: 14px;
}
.top-header{
    text-align: center;
}
main{

}
main img{
    max-width: 100%;
}
.wrap_category{
    background: #fff;
    border: 1px solid #e2e1e1;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px #888888;

}
.orbit-wrapper{
    max-width: 100%;
}
.clear{
    clear: both;
}
#menu-primary{
    margin-bottom: 10px
}
footer{
    text-align: center;
    background: #009A44;
    padding:25px;
    color:#fff;
}
footer h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}