/* 
    Created on : Mar 17, 2017, 10:26:35 AM
    Author     : tuyenbv
*/
body {
    background: url(../img/bg-body.png);
    color: #000;
}
header{
    /*background: url(../img/wood-horizontal.jpg);*/
    background-size: cover;
}
.banner{
    max-width: 100%;
}
p,em{
    margin-bottom: 10px;
}
form.search{
    margin-top: 10px;
    position: relative;
}
.search input{
    width: 100%;
}
.search button{
    position: absolute;
    right: 0px;
    bottom: 2px;
    border: 0;
    background: transparent;
    font-size: 14px;
}
.top-header{
    position: relative;
    /*text-align: center;*/
}
main{

}
main h4{
    font-weight: bold;
}
main img{
    max-width: 100%;
    height: auto;
}
.aligncenter{
    text-align: center;
    margin: 10px auto;
    display: block;
}
.wrap_category{
    background: #fff;
    border: 1px solid #e2e1e1;
    margin-bottom: 10px;
    box-shadow: 0px 3px 5px #888888;

}
.orbit-wrapper{
    max-width: 100%;
}
.clear{
    clear: both;
}
#menu-primary{
    margin-bottom: 10px
}
footer{
    text-align: center;
    background: #009A44;
    padding:25px;
    color:#fff;
}
footer h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}
#hotline_top:hover,#logo:hover {
    animation: bounce 1s;
}