@media (max-width:991px){
    #hotline_top p{
        font-size:18px; 
    }
}
@media (max-width: 768px) {
    /*    .ads-left, .ads-right {
            display:none
        }*/
    #slider {
        width: 100%;
        height: 300px;
    }
    #hotline_top {
        display: none;
    }
    .slogan {
        font-family: inherit;
        font-weight: bold;
        padding-top: 43px;
        float: right;
        width: 70%;
        line-height: 19px;
    }
    #category{
        display: none;
    }
    #fl813691 {
        display: none;}

    #left {
        float: left;
        width: 100%;
    }
    #right {
        float: right;
        width: 100%;
    }
    div.orbit>img {
        /*width: 100%;*/
        /*        height: 300px;
                position: absolute;
                top: 0;
                left: 0;
                display: block;*/
    }
    #featured {
        width:100%;
        height:250px;
    }
    .content h3{
        margin-top: 10px;
    }
    /*    .orbit-bullets {
            position: absolute;
            z-index: 1000;
            list-style: none;
            bottom: 5px;
            right: 40px;
            margin-left: -50px;
            padding: 0;
        }
    
        div.slider-nav span.left {
            background: url(../images/left.png) no-repeat;
            right: 15px;
            top: 335px;
        }
        .orbit-wrapper .orbit-caption {
            background: url(../images/bong.png) no-repeat;
            z-index: 10;
            color: #fff;
            text-align: center;
            padding: 7px 0;
            font-size: 13px;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            height: 300px;
        }
        div.slider-nav span.right {
            background: url(../images/right.png) no-repeat;
            top: 335px;
            right: -55px;
        }*/

    /*    div.orbit-wrapper {
            display: block;
            width: 100%;
            height: 250px;
            position: relative;
        }*/
    .box_img img {
        width: 100%;
        height: 150px;
    }
    /*    .owl-buttons {
            position: absolute;
            top: -40px;
            right: 0;
        }*/
    .other_pro .box_item {
        float: left;
        width: 100%;
        height: 185px;
    }
    #item_name {
        color: black;
        font-size: 12px;
        float: right;
        width: 100%;
    }
    .box_img img {
        width: 100%;
        height: 150px;
    }
    .box label {
        text-transform: uppercase;
        padding: 5px;
        margin-bottom: 5px;
        display: block;
        background: #4a4a4a url(../images/vien_box.png) left bottom repeat-x;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        -moz-box-shadow: inset 0px 0px 1px #b6b6b6;
        box-shadow: inset 0px 0px 1px #b6b6b6;
        border-top: 1px solid #444;
        font-size: 12px;
        font-family: tahoma;
        font-weight: bold;
        color: #fff;
        padding-top: 5px;
        padding-left: 10px;
        line-height: 20px;
    }
    .itemtt_nd {
        margin-top: 5px;
        float: right;
        width: 100%;
    }
    .img-news{
        width: 100%;
        height: 150px;
    }
    #menu-primary {
        display: none;
        margin-bottom: 10px;
    }
    .togger-menu {
        /*background: #4a4a4a url(../images/vien_box.png) left bottom repeat-x;*/
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 5px;
        display: inline-block;
        width: 100%;
        cursor: pointer;
    }
    .togger-menu span {
        float: left;
        color: #fff;
        font-size: 22px;
        margin-right: 10px;
        margin-left: 10px;
    }
    .togger-menu i {
        float: right;
        right: 0;
        position: absolute;
        color: #000;
        font-size: 25px;
        cursor: pointer;
        margin-right: 10px;
    }
    #menu_top{
        background: #fff;
        margin-top: -10px;
    }
    #menu_top > li {
        float: left;
        width: 100%;
        border-top: 1px solid #eee;
    }
    #menu_top > li > a {
        display: block;
        font-family: tahoma;
        font-weight: normal;
        font-size: 13px;
        color: #444;
        padding: 10px 5px;
        border-left: 0px solid #3780bf;
        border-right: 0px solid #245884;
    }
    #navbar {
        background: #fff;
        border-radius: 3px 3px 0 0;
        height: 42px;
        width: 100%;
        box-shadow: inset 0px 0px 0px #579bd0;
        border-top: 0px solid #3e82b5;
    }
    #search {
        margin-top: 0px;
    }
    .togger-menu-sub{
        float: right;
        color: #2b8ee2;
    }
    .togger-menu-sub {
        display: block;
        padding: 10px;
        right: 0;
        position: absolute;
    }
    .sub-menu {
        position: static;
        width: 100%;
        background: #fff;
        z-index: 99999999;
        display: none;
        list-style: none;
    }
    #header {
        position: relative;
        width: 100%;
        height: auto;
    }
    /*    div.orbit-wrapper {
            width: 100%;
            height: 300px;
            position: relative; }
    
        div.orbit {
            width: 100%;
            height: 300px;
            position: relative;
            overflow: hidden }*/

}
@media (max-width: 480px) {
    header{
        box-shadow: 0 6px 4px -1px #908f8f, 0 15px 5px 0 rgba(0,0,0,.06), 0 5px 10px 0 rgba(0,0,0,.08);
    }
    #slider {
        display: none;
    }
    .slogan {
        font-size: 14px;
        width: 70%;
        line-height: 19px;
        padding-top: 20px;
    }
    #logo img {
        height: 70px;
    }
    .togger-menu {
        padding-top: 0px;
    }
}