.box_main .content,.box_top{padding-left:10px}
#paging li,.trangsau{margin-right:5px}
.box_top,.category_noidung a,.menu_mb ul>li>a{text-transform:uppercase}
#menu_top,.menu_mb ul>li,.menu_mb>ul>li,.sub-menu,li{list-style:none}
#link_br #a1:hover,#link_br #a2:hover,#tukhoachay li a:hover,#xem:hover{text-decoration:underline}
#menu_footer,.nut,.orbit-bullets li{behavior:url(dh.htc)}
#like_face,#logo_mb img{max-width:100%}
.page-single .wrap-avatar{text-align:center;margin-bottom:20px}
.page-single{margin-bottom:20px}
.img-list{width:100%;border:1px solid #ccc}
#logo img{height:100px}
.footer-title{color:#fff;font-size:17px;padding-top:15px;padding-bottom:10px}
.box_top,.info-office{font-size:13px;color:#fff}
.info-office{line-height:30px}
#paging{float:right}
#paging li,.khungtrang,.trang{float:left}
.box_top{padding-bottom:10px;margin-bottom:5px;background:left bottom repeat-x #009A44;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;-moz-box-shadow:inset 0 0 1px #b6b6b6;box-shadow:inset 0 0 1px #b6b6b6;border-top:1px solid #444;font-family:tahoma;font-weight:700;padding-top:10px;border-bottom:5px solid #FFC052}
.btn,.hoatdong{font-weight:400}
.box_top a{color:#fff}
.trang{padding:5px;font-size:15px}
.owl-buttons{position:absolute;top:-45px;right:0}
.owl-next,.owl-prev{background:#fff;color:#000;border-radius:100px}
.btn,.trangsau{margin-left:5px;border:1px solid #f5f5f5;float:left}
.btn{display:inline-block;padding:6px 20px;margin-bottom:0;font-size:14px;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;user-select:none;background-image:none}
.btn a{padding:13px}
.btn:hover>a{color:#059}
.trangsau{background:#fff;padding:7px 0;color:#000}
.trangsau a{padding:13px}
.ads-left,.ads-right{position:fixed;padding:15px;top:19%}
.trangsau:hover>a{color:#059}
.hoatdong,.hoatdong a{color:#fff}
.hoatdong{background:#0099F7}
.owl-pagination{display:none}
.ads-left{left:0}
.ads-right{right:0}
@font-face{font-family:utm_avenidaregular;src:url(../fonts/utm_avenida-webfont.eot);src:url(../fonts/utm_avenida-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/utm_avenida-webfont.woff2) format("woff2"),url(../fonts/utm_avenida-webfont.woff) format("woff"),url(../fonts/utm_avenida-webfont.ttf) format("truetype"),url(../fonts/utm_avenida-webfont.svg#utm_avenidaregular) format("svg");font-weight:400;font-style:normal}
*{margin:0;padding:0}
.menu_mb,.wap_menu_mb{margin-bottom:10px}
a{text-decoration:none}
#grwf2_6782505_ggmrm{z-index:1!important}
.clear{clear:both}
body{line-height:18px;font-family:arial}
.but_mnmb{font-size:20px;font-weight:700;color:#d5060c;cursor:pointer;display:block;padding-top:1px}
.menu_mb ul>li>ul{position:absolute;top:100%;left:20px;display:none;z-index:9999;background:#d5060c}
.menu_mb a:hover{color:#000}
.menu_mb ul>li{border-bottom:1px solid #fff;padding:5px 0;position:relative}
.menu_mb ul>li>a{color:#fff;font-weight:700}
.menu_mb ul{background:#d5060c;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-box-shadow:inset 0 1px 1px #f1adaf;-webkit-box-shadow:inset 0 1px 1px #f1adaf;box-shadow:inset 0 1px 1px #f1adaf;border:1px solid #c80308;padding:10px}
.search_mb #subs{background:url(../img/search.png) center center no-repeat #d5060c;position:absolute;top:0;right:0;height:100%;width:40px;border:none;cursor:pointer}
#footer,#header{position:relative}
.search_mb #ten{background:#fff;border:1px solid #ccc;padding:5px;height:25px;width:100%}
.wap_menu_mb1{background:#d5060c;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;height:auto;width:100%;-moz-box-shadow:inset 0 1px 1px #f1adaf;-webkit-box-shadow:inset 0 1px 1px #f1adaf;box-shadow:inset 0 1px 1px #f1adaf;border-top:1px solid #c80308}
#navbar,#search{background:#009A44}
#container{width:1000px;margin:0 auto}
/*#header{height:125px}*/
#menu,.sub-menu{position:absolute}
.wrap_logo{
    padding-top: 40px;
}
#logo {
    /*    position: absolute;
        left: 10px;
        top:10px;*/
    width: 150px;
    padding: 20px;
    float: left;
}
#logo img{border:none}
/*.search1{float:left;margin-left:5px;margin-top:6px}
.search2{float:right;margin-top:9px;padding-right:10px}*/
/*#search{float:right;margin-top:60px;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#797979',endColorstr='#474747',GradientType=0);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-box-shadow:inset 0 1px 1px #c7c7c7;-webkit-box-shadow:inset 0 1px 1px #c7c7c7;box-shadow:inset 0 1px 1px #a0d6ff;border:1px solid #fff;width:242px;height:37px}*/
/*#search input[type=text]{border:none;width:189px;height:25px;padding-left:10px;font-size:10px;color:#979797}*/
#menu_top>li>a,.sub-menu li a{font-size:13px;display:block;font-family:tahoma;font-weight:700}
/*#search input[type=submit]{background:url(../img/search.png) no-repeat;width:22px;height:16px;border:none;cursor:pointer}*/
#menu{background:url(../img/inline.png) left bottom repeat-x;width:100%;height:47px;top:105px;left:0}
#navbar{border-radius:3px 3px 0 0;height:42px;width:100%;   box-shadow: 0px 3px 5px #888888;border-top:1px solid #3e82b5}
#menu_top{margin-top:1px}
#menu_top>li{float:left}
#menu_top>li>a{color:#fff;padding:11px 13px;border-left:1px solid #02883d;border-right:1px solid #02883d}
#menu_top>li:first-child>a{border-left:none}
#menu_top li:last-child>a{border-right:none}
#menu_top li a:hover{color:#b8deff}
#menu_top li:hover .sub-menu{display:block}
.sub-menu{width:200px;background:#fff;z-index:99999999}
.sub-menu li a{border-bottom:1px solid #d7d7d7;padding-top:10px;padding-bottom:10px;padding-left:10px;color:#000}
.sub-menu li:first-child a{border-top:5px solid #ffa302}
.sub-menu li a:hover{background:#2e7abb;color:#fff}
#slider{width:100%;height:300px;padding-bottom:10px;box-shadow:0 6px 4px -1px #908f8f,0 15px 5px 0 rgba(0,0,0,.06),0 5px 10px 0 rgba(0,0,0,.08);    overflow: hidden;}
.slider_top{margin-top:20px;width:220px;padding-right:15px;float:right;line-height:25px}
.category_all{background:#006029;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-moz-box-shadow:inset 0 1px 1px #e56d6f;-webkit-box-shadow:inset 0 1px 1px #4bc17e;box-shadow:inset 0 1px 1px #1ca557;border:1px solid #085629;width:100%;height:110px}
.category_icon{width:106px;height:109px;float:left;border-right:1px solid #157940;text-align:center}
.category_icon img{padding-top:40px;width:39px}
.category_noidung{float:left;height:109px;width:217px;border-left:1px solid #157940}
.category_noidung a{display:block;font-family:tahoma;font-size:11px;font-weight:700;color:#fff;padding-left:12px;padding-top:12px;padding-bottom:12px;border-bottom:1px solid #157940}
.category_noidung a:hover{color:#000}
.category_noidung p{font-size:13px;font-family:arial;color:#fff;border-top:1px solid #157940;padding-left:12px;padding-top:5px}
#hotline,.box h1{font-family:tahoma}
#content{width:100%;padding-top:8px}
/*#left{float:left;width:245px}*/
/*#right{float:right;width:745px}*/
.box{border:1px solid #f4f4f4;margin-bottom:10px;font-size:13px;color:#444}
.owl-theme .owl-controls{margin-top:0;text-align:center}
.box_main{background:#fff;padding:0 10px}
.box_top h3 a:hover{color:#0161aa}
.box h1,.box h1 a{color:#fff;font-size:13px;text-transform:uppercase}
.box h1{padding:12px 13px 10px 10px;margin-bottom:5px;background:left bottom repeat-x #4a4a4a;-webkit-border-radius:6px 6px 0 0;-moz-border-radius:6px 6px 0 0;border-radius:6px 6px 0 0;-moz-box-shadow:inset 0 0 1px #b6b6b6;box-shadow:inset 0 0 1px #b6b6b6;border-top:1px solid #444;font-weight:700;border-bottom:5px solid #FFC052}
#tygia,#yahoo{padding-bottom:10px}
#tygia,#yahoo,.box_item{padding-top:10px}
.box h1 a{padding:10px}
#menu_left,#menu_news{padding:6px 10px;list-style:none}
.img-news{width:168px}
#yahoo{width:100%;text-align:center}
#hotline{text-align:center;font-weight:700;font-size:11px;color:#da1117;padding-bottom:13px}
#menu_left li a,#menu_news li a{padding-top:6px;padding-bottom:6px;border-top:1px dotted #e2e1e1;font-family:arial;padding-left:21px;display:block}
#hotline span{color:#434343;display:block}
#menu_left li a{font-size:13px;color:#5c5c5c;background:url(../img/icon_dm.png) 0 6px no-repeat}
#menu_left li a:hover,#menu_news li a:hover{color:#D3060B}
#menu_news{font-size:13px;color:#444;line-height:25px}
#menu_news li a{font-size:13px;color:#444;background:url(../img/icon_tt.png) 0 11px no-repeat}
#menu_news li:first-child a{border-top:none}
#tygia{padding-left:20px}
#truycap{padding-top:12px;padding-left:69px;padding-bottom:12px}
.box_item{width:176px;padding-left:9px}
.box_img{
    overflow: hidden;
    padding: 10px;
}

.item{border:1px solid #ebebeb;padding:0;margin:2px 2px 10px}
#download,#homnay,#online,#thangnay{padding-bottom:5px}
.box_img img{

    width:100%;height:100%;
    border:1px solid #f4f4f4;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}
.box_img img:hover{
    border-radius: 50%;
    -webkit-box-shadow: 5px 5px 5px #111;
    box-shadow: 5px 5px 5px #111;
    transform: rotate(360deg);
}
.box_name{display:block;font-size:13px;font-weight:700;color:#5b5b5b;height:35px;overflow:hidden;margin:5px 0;padding-left:7px}
#fanpage,#thongke{margin-top:24px;background:#fff;float:left}
#download_all,#lienquan ul li a{padding-left:15px}
#download_nd,#video{padding-top:10px;padding-left:10px}
.box_name:hover{color:#DA1117}
#info p,#info p a{color:#fff}
#thongke label,#thongke span{color:#505050;font-family:tahoma;font-size:13px}
/*#bg_footer{background:#333;height:auto;width:100%;}*/
#footer{width:1000px;margin:0 auto}
#vien_fo{width:100%;height:5px}
#menu_footer{background:#d3060b;height:41px;width:100%;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px}
#menu_footer ul{list-style:none}
#download_img,#menu_footer ul li{float:left}
#menu_footer ul li a{display:block;font-family:tahoma;font-weight:700;font-size:13px;color:#fff;padding:11px 16px;border-left:1px solid #f23238;border-right:1px solid #b00e12}
#menu_footer ul li a:hover{color:#000}
#menu_footer ul li:first-child a{border-left:none}
#menu_footer ul li:last-child a{border-right:none}
#info{float:left;padding-top:11px;width:427px}
#info p{font-size:13px;font-weight:700;line-height:20px}
#info p #desa{color:#428bca}
#thongke{padding:10px}
#online{background:url(../img/online.png) 0 4px no-repeat}
#homnay{background:url(../img/homnay.png) 0 3px no-repeat}
#thangnay{background:url(../img/thangnay.png) 0 3px no-repeat}
#luottruycap{background:url(../img/luottruycap.png) 0 3px no-repeat}
#thongke label{font-weight:700;padding-left:16px;float:left;background:0 0}
#fanpage{width:314px;overflow:hidden}
#download_nd{float:left;font-family:tahoma;font-size:13px;font-weight:700;color:#000}
#hotline_top p,.slogan{color:#009A44;font-weight:700}
#hotline_top{
    /*margin-top:10px;*/
    padding-right: 10px;
    background:url(../img/hotline.png) no-repeat;
    float: right;
    height:54px;padding-left:54px}
#thongtin,#tinmoi,#xemnhieu,.video{margin-top:10px}
#hotline_top p{font-size:24px;font-family:utm_avenidaregular;padding-top:5px;   margin-bottom: 5px;}
.slogan{
    width: 52%;
    float:left;
    font-size:18px;font-family:inherit;padding-top:20px;}
#tukhoachay{width:700px}
#tukhoachay li{display:inline-block;color:#fff;line-height:18px}
#tukhoachay li a{color:#fff;font-size:13px}
.menu_sub_left{position:absolute;top:0;left:210px;width:200px;background:#fff;z-index:100;border-top:1px solid #d9d9d9;border-bottom:1px solid #d9d9d9;display:none}
div.orbit,div.orbit-wrapper{position:relative}
.menu_sub_left li a{display:block;border-bottom:1px dotted #d9d9d9}
#menu_left li:first-child a{border-top:none}
.video{width:230px;height:190px;float:left;margin-left:13px}
.video_name{font-size:13px;color:#333;padding-top:10px;text-align:center}
#xem{display:block;float:right;font-size:14px;color:#333;padding:5px}
#featured>a,#featured>div,#featured>img,div.orbit>a,div.orbit>img{display:none}
#featured{width:100%;max-width: 100%;height:300px;overflow:hidden}
div.orbit{overflow:hidden}
.orbit>div,div.orbit>a,div.orbit>img{position:absolute;top:0;left:0}
div.orbit>a{border:none;line-height:0}
.orbit>div{width:100%;height:100%}
div.timer,span.mask{height:40px;overflow:hidden;position:absolute}
div.timer{width:40px;top:10px;right:10px;opacity:.6;cursor:pointer;z-index:1001}
span.mask{display:block;width:20px;top:0;right:0;z-index:2}
span.rotator.move{left:0}
div.timer:hover span.pause,span.pause.active{opacity:1}
.orbit-caption{display:none;font-family:HelveticaNeue,Helvetica-Neue,Helvetica,Arial,sans-serif}
.orbit-wrapper .orbit-caption{background:url(../img/bong.png) no-repeat;z-index:10;color:#fff;text-align:center;padding:7px 0;font-size:13px;position:absolute;right:0;top:0;width:340px;height:300px}
.orbit-wrapper .orbit-caption h2{text-align:left;font-family:tahoma;font-weight:700;font-size:13px;text-transform:uppercase;display:block;padding-top:22px;margin-bottom:20px}
.orbit-wrapper .orbit-caption h2 a{color:#fff;margin-bottom:20px}
.orbit-wrapper .orbit-caption h2 a:hover{color:#ff0}
.orbit-wrapper .orbit-caption p{text-align:justify;font-size:13px;padding-top:20px}
.orbit-wrapper .orbit-caption .read{font-size:13px;color:#ff0}
.orbit-wrapper .orbit-caption .read a{display:block;font-size:13px;color:#fff;float:right;padding-top:10px}
.orbit-wrapper .orbit-caption .read a:hover{color:#fff}
div.slider-nav{display:block}
div.slider-nav span{width:78px;text-indent:-9999px;position:absolute;z-index:1000;top:50%;margin-top:-50px;cursor:pointer}
div.slider-nav span.right{background:url(../img/right.png) no-repeat;left:98%;top:321px}
div.slider-nav span.left{background:url(../img/left.png) no-repeat;left:89%;top:321px}
.orbit-bullets{position:absolute;z-index:1000;list-style:none;bottom:18px;right:24px;margin-left:-50px;padding:0}
#link_br #a1,#link_br #a2{position:static;font-weight:700}
#link_br #a1,#link_br #a2,#link_br span{padding-right:4px;float:left}
.orbit-bullets li{float:left;margin-left:5px;cursor:pointer;color:#999;text-indent:-9999px;background:#fff;width:10px;height:10px;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;overflow:hidden}
.orbit-bullets li.active{color:#333;background:#3c6dab}
#link_br,#link_br #a1{color:#3a3a3a;font-family:tahoma}
.orbit-bullets li.has-thumb{background:0 0;width:100px;height:75px}
.orbit-bullets li.active.has-thumb{background-position:0 0;border-top:2px solid #000}
#link_br{margin-bottom:15px;padding-bottom:5px;border-bottom:1px solid #f4f4f4;font-size:13px;padding-left:5px;padding-top:7px;position:relative}
#link_br #a1{font-size:11px}
#link_br span{font-size:11px}
#link_br #a2{color:#428bca;font-family:tahoma;font-size:11px}
.caption{color:#DA1117;font-size:13px;font-weight:700;display:block;padding-bottom:10px}
.nut{background:#DA1117;border:1px solid #DA1117;color:#fff;cursor:pointer;font-weight:700;padding:3px 8px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px}
.column input{background:#fff;border:1px solid #cfe6e8;height:25px;margin-bottom:5px;width:400px}
#tinmoi,#xemnhieu{border:1px solid #ffa302;font-weight:700}
.linkhaybutton .count{background:url(../img/lh_widget_button.gif) 0 -109px no-repeat;float:left;display:block;width:32px;height:18px;margin-right:1px;font-size:13px;line-height:16px;font-weight:700;color:#959595;text-align:center}
.linka,.linkhaybutton .retweet{color:#fff;text-decoration:none}
.linkhaybutton{padding-right:4px}
.linkhaybutton .retweet{background:url(../img/lh_widget_button.gif) 0 -73px no-repeat;float:left;height:18px;width:46px;text-align:center;display:block;cursor:pointer;padding:0 0 0 3px;font-size:11px;line-height:18px}
#lienquan p,#tinmoi p,#xemnhieu p{padding-top:10px;padding-left:10px}
#tinmoi ul li a,#xemnhieu ul li a{color:#555;padding-left:30px;font-family:arial;padding-top:5px;padding-bottom:5px;display:block}
.linka:hover{text-decoration:underline}
#chiase,#tags{padding-top:12px;padding-left:10px}
#chiase #title{font-weight:700;padding-left:30px;background:url(../img/chiase.png) 7px 0 no-repeat;display:block;padding-bottom:10px;color:#33a1ff}
#tags span{float:left;margin-top:0;font-weight:700;padding-left:30px;margin-right:10px;background:url(../img/tags-bg.png) 7px 0 no-repeat;height:20px;display:block;margin-bottom:5px;color:#33a1ff}
#time,.boxnoti{margin-bottom:10px}
#tags a{color:#01293a;font-size:11px;font-family:arial}
#lienquan{color:#33a1ff;font-size:13px;margin:10px}
#lienquan p{height:30px;border-bottom:1px solid #eee;color:#e63434;font-weight:700}
#lienquan ul,#tinmoi ul{padding-top:10px;list-style:none}
#lienquan ul li{padding-left:5px;background:url(../img/icon_tt.png) 0 11px no-repeat}
#lienquan ul li a{color:#444;font-size:13px;font-family:arial;display:block;padding-top:5px;padding-bottom:5px}
#tinmoi{color:#33A1FF;font-size:13px;margin-left:10px;margin-right:10px}
#tinmoi p,#xemnhieu p{height:30px;border-bottom:1px solid #ffa302;color:#ffa302}
#tinmoi ul li,#xemnhieu ul li{background:url(../img/icon_tt.png) 10px 7px no-repeat}
#tinmoi ul li a{font-size:11px}
#tinmoi ul li a:hover,#xemnhieu ul li a:hover{color:#007e85}
#xemnhieu{font-family:arial;font-size:13px;margin-left:10px;margin-right:10px}
#xemnhieu ul{list-style:none}
#xemnhieu ul li a{font-size:11px}
.item_lt{width:97%;padding-top:10px;border-bottom:1px dotted #dbdbdb;padding-bottom:10px;margin-left:10px}
.itemlt_name{display:block}
.itemtt_img{float:left}
.itemtt_nd{float:right;width:75%}
.itemtt_nd .itemlt_name{color:#505050;font-size:13px;font-weight:700}
.itemtt_nd .itemlt_name:hover{color:#ff4c49}
.item_lt .p,.read1 a{color:#505050;font-size:13px}
.item_lt .p{padding-top:10px;padding-bottom:5px;text-align:justify}
.read1{float:right;padding-right:10px}
.read1 a{display:block;font-weight:700}
.read1 a:hover{color:#ff4c49}
.pagination{text-align:center}
.pagination a,.pagination strong{background:#e3e3e3;padding:4px 7px;text-decoration:none;border:1px solid #cac9c9;color:#292929;font-size:13px}
#item_sp,#noidung,#thongtin{padding:10px}
.pagination a:hover,.pagination strong{font-weight:400;background:#0099F7;color:#fff}
#time{font-size:11px;font-style:italic;color:#999;padding-top:5px;padding-bottom:5px}
#item_img{float:left;width:250px}
#item_name h1{font-size:18px;color:#145fa9;line-height:25px}
#item_name,#noidung,#note_pay,.form_order td,.thuvien1_name{font-size:13px}
#item_name{color:#000;float:right;width:400px}
#item_name p{text-align:justify;line-height:24px}
#thongtin{border:1px dashed #ccc}
#noidung{color:#555;text-align:justify;line-height:20px}
#noidung ol,#noidung ul{padding-left:15px}
.boxnoti{background:#efd09a;margin-left:10px;margin-right:10px;border-top:2px solid #8D4814;display:inline-block;padding:8px;width:95%}
.header_mb,.hotline_mbn{display:none}
#note_pay .title_note{color:red;font-size:13px;font-weight:700}
#note_pay li{background:url(../img/bot_left.png) 0 13px no-repeat;padding-left:20px;padding-top:10px}
.form_order{margin:10px 0}
.form_order td{padding:2px 5px;color:#555}
.form_order textarea,.inputtext{padding:2px;behavior:url(dh.htc)}
.form_order td span{color:red}
.inputtext{border:1px solid #ccc;height:23px;width:300px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.form_order textarea{border:1px solid #ccc;height:85px;width:617px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.form_order .button{background:#145FA9;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;width:87px;height:26px;border:1px solid #ade6e9;color:#fff;cursor:pointer;behavior:url(dh.htc)}
#bocongthuong{position:absolute;right:129px;top:90px}
.thuvien1{float:left;width:230px;padding-right:20px;height:144px}
.thuvien1_name{text-align:center;color:#333;padding-top:5px}
#logo_mb{padding:10px 0}
#hotline_mb{color:red;font-size:11px;text-align:right;text-transform:uppercase;font-weight:700;padding-top:16px}
.box{background:#fff;border: 1px solid #e2e1e1 ;margin-bottom: 10px;    box-shadow: 0px 3px 5px #888888;}
.other_pro .box_item,.sanpham .box_item{float:left;width:183px}
.list_pro .box_item,.search .box_item{float:left;width:184px}
.form_contact{width:100%;font-size:14px;color:#444}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit;margin-bottom:5px;padding:5px}
.send{background:#3c763d;color:#fff;border:0;border-radius:3px;padding:7px}
.togger-menu{display:block;color:#fff; }
.sub-menu,.togger-menu-sub{display:none}
/*#menu-primary{padding: 0 15px}*/
